{% verbatim %}
    <hr />
    <div class="left">
        <h2>SECTION:</h2>
        <h4>Content</h4>
        <small>content</small>
    </div>
    <div class="right">
        <select class="no-chosen">
            <option>Add a block</option>
        </select>
        <a href="#" class="text-muted"><i class="fa-lg fa fa-angle-up"></i></a>
        <a href="#" class="text-muted"><i class="fa-lg fa fa-angle-down"></i></a>
        <a href="#" class="text-info"><i class="fa-lg fa fa-eye"></i></a>
        <a href="#" class="text-success" data-toggle="modal" data-target="#{{ id }}-section-modal"><i class="fa-lg fa fa-pencil"></i></a>
        <a href="#" class="text-danger"><i class="fa-lg fa fa-times"></i></a>
    </div>
    <div class="clearfix first-row"></div>
    <div class="js-blocks-{{id}} section-blocks"></div>
{% endverbatim %}