{% verbatim %}
    <div class="panel panel-info content-block-overview {{ className }}">
        <div class="panel-heading">
            <i class="fa fa-info-circle"></i> Content overview
        </div>
        <div class="panel-body scroll-content"></div>
    </div>
{% endverbatim %}