{% verbatim %}
    <div class="file-box" data-id="{{id}}">
        <div class="file ui-state-default">
            <a href="#">
                <span class="corner"></span>
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="file-name">
                    {{title}}
                    <br/>
                    <small>{{ __added }}</small>
                </div>
            </a>
        </div>
    </div>
{% endverbatim %}